<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- args -->
    <arg name="world" default="$(find carry_luggage)/worlds/main_world.world"/>
    <arg name="public_sim"   default="true"/>
    <arg name="paused"       default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui"          default="true"/>
    <arg name="record"       default="false"/>
    <arg name="debug"        default="false"/>
    <arg name="base_type"    default="omni"/>
    <arg name="map"          default="~/.pal/tiago_maps/configurations/2023-11-16_173326"/>

    <include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
        <arg name="public_sim" value="$(arg public_sim)"/>
    </include>
    
</launch>
